{% load static %}
<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href="{% static 'divulgar/css/novo_pet.css' %}" rel="stylesheet">
    <link href="{% static 'divulgar/css/seus_pet.css' %}" rel="stylesheet">
    <link href="{% static 'adotar/css/listar_pets.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2 bg-side sidebar">
            <h2>ADO.TE</h2>
            <hr>
        </div>

        <!-- Main Content -->
        <div style="padding:60px" class="col-md">
            <h3 class="font-vinho">Quantidade de adoções por raça.</h3>
            <div style="width: 60%;">
                <!-- Canvas for Chart -->
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Fetch data from API endpoint
    fetch("/divulgar/api_adocoes_por_raca/", {
        method: 'GET',
    }).then(function(result){
        return result.json();
    }).then(function(data_adocoes){
        // Data for Chart.js
        const data = {
            labels: data_adocoes['labels'],      // Labels for X-axis (breed names)
            datasets: [{
                label: 'Quantidade de adoções', // Label for the dataset
                backgroundColor: 'rgb(255, 99, 132)', // Background color for the line
                borderColor: 'rgb(255, 99, 132)',     // Border color for the line
                data: data_adocoes['qtd_adocoes'],   // Data points for Y-axis (number of adoptions)
            }]
        };

        // Configuration for the chart
        const config = {
            type: 'line',      // Chart type (line chart)
            data: data,        // Data object defined above
            options: {}        // Additional options (can be customized as needed)
        };

        // Create a new Chart.js instance
        const myChart = new Chart(
            document.getElementById('myChart'), // HTML element to render the chart
            config                              // Configuration object
        );
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
